<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button><a href="">start</a></button>
    <button><a href="/getData">getAllData</a></button>
    <button><a href="">ping</a></button>
  </body>
</html>
